@media screen and (max-width: 400px){
  html{
      width: 400px;
      overflow: auto;
  }
}
@media screen and (max-height: 572px){
  html{
      height: 572px;
      overflow: auto;
  }
}

html {
  height: 100%;
}

body {
  font-family: arial,sans-serif;
  font-size: 14px;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex-wrap: nowrap;
  justify-content: space-between;
}

/* Styling of navigation bar */

.right {
  margin-left: auto; 
  margin-right: 0;
}

nav {
  line-height: 40px;
}

#navigationDiv{
  grid-template-rows: 65px;
  align-items: center;
  grid-template-areas:
    "auto c c apps signin";
  }
  nav img{
    margin-top: 5px;
  }
  #googleimg{
    position: static;
    width: 272px;
    height: 92px;
  }
  /* Removing underline from links*/
  a{
    text-decoration: none;
  }
  button{
    border-radius: 3px;
    height:100%;
    padding:5px 12px;
    color:white;
    border:none;
    text-align: center;
    cursor: pointer;
  }

  #iconbutton{
    border-radius: 0px;
    height:100%;
    padding:0px 0px;
    background-color: #ffffff ;
    color:white;
    border:none;
  }

  main {
    padding-bottom: 23vh;
  }

  /* setting up size and border stle of search bar*/
  #maindiv{
  width:35%;
  border-radius: 50px;
  display: flex;
  height:40px;
  border:1px solid lightgrey;
  }
  #inputspan{
    width:80%;
  }
  span{
    vertical-align: top;
  }
  span:first-child{
    width:10%;
    border-radius: 50px;
    margin-top: 7px;
  }
  span:last-child{
    width:10%;
    border-radius: 50px;
    margin-top: 7px;
  }
  input{
    height:100%;
    width:100%;
    border: none;
    padding:0px;
  }
  section{
    display: flex;
    margin-top: 5%;
    justify-content: space-around;
    margin-bottom: 4%;
  }
  section button{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
  }

  section button:hover {
    box-shadow:0 1px 1px rgba(0,0,0,.1);
    background-color:#f8f9fa;
    border:1px solid #dadce0;
    color:#202124;
  }

  section button:focus {
    border:1px solid #4285f4;
    outline:none
  }

  ul{
    display: flex;
    width: 30%;
    padding-left: 0px;
    list-style: none;
    justify-content: space-around;
    margin: 6px;
  }
  #Bottomdiv{
    display:flex;
    font-size: 12px;
    margin-top: 3%;
  }
  #Bottomdiv span{
    width:7%;
    margin-left: 31%;
  }
  /*When hovered*/
  a:hover{
    text-decoration: underline;
  }
  button:hover{
    border: 1px solid gray;
  }

  .interaction-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .links {
    display: flex;
    width: 111px;
    justify-content: space-evenly;
    color: rgba(0,0,0,.87);
    font: 13px/27px Roboto,Arial,sans-serif;
    padding-right: 10px;
  }

  .search-bar:hover, .search-bar:focus-within {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
  }

  /* Apps */
#apps-area {
  grid-area: apps;
  place-self: center;
  padding-top: 12px;
}
.apps {
  padding: 8px;
  width: 24px;
  fill: currentColor;
  color: #5f6368;
  border-radius: 50%;
}
.apps:hover {
  background-color: rgba(60,64,67,0.08);
}

/* Sign in */

.sign-in-button-container {
  margin: auto;
  padding: 16px;
}

button.signin {
  min-width: 100px;
  height: auto;
  padding: 10px 27px;
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  color: #FFF;
  background-color: #1a73e8;
  border-radius: 4px;
  border: 1px solid transparent;
}

.signin:hover {
  background-color: #2b7de9;
  box-shadow: 0 1px 2px 0 rgba(6,133,244,0.3),0 1px 3px 1px rgba(66,133,244,0.15);
}

.sign-in-section {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Search */
#search-area {
grid-area: search;
}
.search-container {
flex-direction: row-reverse;
}

.main-search-container {
  margin: auto 0;
  padding-top: 6px;
  width: auto;
  max-width: 584px;
  position: relative;
}

.search-bar {
margin-top: 20px;
height: 46px;
border: 1px solid #dfe1e5;
border-radius: 24px;
color: rgba(0,0,0,.87);
outline: none;
}

.search-form {
  display: contents;
}

.search-bar {
position: left;
display: flex;
flex-direction: row;
flex-wrap: nowrap;
align-items: center;
}

.search-bar input {
  font-size: 16px;
  outline: none;
  border: none;
  width: 100%;
  line-height: 22px;
}

.search-bar-block-near-input {
  width: 54px;
}

.search-bar-block-near-input.small-width {
  width: 20px;
}

.search-bar-icon-near-input {
  height: 20px;
  width: 20px;
}

.search-bar-icon-near-input.grey {
  fill: currentColor;
  color: #9aa0a6;
}

.footer-container-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width:730px) {
  .footer-container-flex {
    flex-direction: row;
  }
 }

 @media only screen and (max-width:1200px) {
  .footer-container-flex {
    justify-content: space-evenly;
  }
 }

.footer-container {
  background: #f2f2f2;
  padding: 0 20px;
}

.footer-section {
  display: flex;
  flex-wrap: wrap;
}

.space-evenly {
  justify-content: space-evenly;
}

.footer-component {
  display: block;
  padding: 15px;
  white-space: nowrap
}

.footer-component,
a.footer-component {
  color: #70757a
}

.footer-underline-container {
  border-top: 1px solid #dadce0;
}

*::-webkit-search-cancel-button {
  display: none;
}
