/* Body */
body {
  font-family: arial,sans-serif;
  font-size: 14px;
  color: #222;
}

/* Header */
header {
  display: grid;
  grid-template-columns: 146px 640px auto 70px 142px;
  grid-template-rows: 65px 57px;
  grid-template-areas:
    "logo search auto apps signin"
    ". nav . . .";
  border-bottom: 1px solid #ebebeb;
}

button {
  cursor: pointer;
}

/* Logo */
.logo-area {
  grid-area: logo;
  place-self: center;
}
.logo {
  margin: 26px 0 0 -15px;
  width: 92px;
  height: 30px;
}

/* Search */
#search-area {
  grid-area: search;
}

.search-bar {
  margin-top: 20px;
  height: 46px;
  border: 1px solid #dfe1e5;
  border-radius: 24px;
  color: rgba(0,0,0,.87);
  outline: none;
  }
  
  .search-form {
    display: contents;
  }
  
  .search-bar {
  position: left;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  }
  
  .search-bar input {
    font-size: 16px;
    outline: none;
    border: none;
    width: 100%;
    line-height: 22px;
  }
  
  .search-bar-block-near-input {
    width: 46px;
  }

  .search-bar-block-near-input.small-width {
    width: 20px;
  }
  
  .search-bar-icon-near-input {
    height: 20px;
    width: 20px;
  }
  
  .search-bar-icon-near-input.grey {
    fill: currentColor;
    color: #9aa0a6;
  }

.search-bar:hover {
  font-size: 16px;
}

.search-bar:hover, .search-bar:focus-within {
  box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
  border-color: rgba(223,225,229,0);
}

.search-btn {
  width: 24px;
  fill: currentColor;
  color: #4285f4;
  outline: none;
}

/* Apps */
#apps-area {
  grid-area: apps;
  place-self: center;
}
.apps {
  margin: 27px -7px 0 34px;
  padding: 8px;
  width: 40px;
  fill: currentColor;
  color: #5f6368;
  border-radius: 50%;
}
.apps:hover {
  background-color: rgba(60,64,67,0.08);
}

/* Sign in */
#signin-area {
  grid-area: signin;
  place-self: center;
  margin-top: 22px;
}
.signin {
  margin-right: 10px;
  padding: 10px 27px;
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  color: #FFF;
  background-color: #1a73e8;
  border-radius: 4px;
}

.signin:hover {
  background-color: #2b7de9;
  box-shadow: 0 1px 2px 0 rgba(6,133,244,0.3),0 1px 3px 1px rgba(66,133,244,0.15);
}

/* Navigation */
#nav {
  grid-area: nav;
  display: flex;
}
.search-modes {
  display: flex;
  margin-left: 10px;
  font-size: 13px;
  color: #5f6368;
}
.nav-mode {
  display: inline-flex;
  justify-content: center;
  margin-top: 10px;
  padding: 16px 12px 12px 9px;
}
.nav-mode:hover svg,
.nav-mode:hover {
  color: #1A73E8;
}
.selected-mode {
  border-bottom: 3px solid #1A73E8;
  color: #1A73E8;
}
.mode-icon {
  margin: 0 5px 3px 2px;
  height: 16px;
  width: 16px;
  fill: currentColor;
  color: #5f6368;
}
.mode-text {
  margin-top: 1px;
}
.mode-more {
  margin-right: 0px;
  margin-left: -1px;
}
.search-settings {
  margin-left: 57px;
  font-size: 13px;
  color: #5f6368;
}
.nav-tools {
  margin: 21px 0 7px -3px;
  padding: 6px 11px;
  border: 1px solid transparent;
}
.nav-tools:hover {
  background-color: #f8f8f8;
  background-image: linear-gradient(to bottom, #f8f8f8, #f1f1f1);
  border: 1px solid #c6c6c6;
  border-radius: 2px;
  box-shadow: 0 1px 1px rgba(0,0,0,.1);
  transition: all 0.0s;
}

/* Main Content */
main {
  display: grid;
  grid-template-columns: 146px 640px auto;
  grid-template-rows: auto;
  grid-template-areas:
    ". main .";
}
#main {
  grid-area: main;
  padding: 0 20px;
}

/* Search Results */
.results-stats {
  line-height: 43px;
  color: #70757a;
}
.search-results-block {
  padding-top: 8px;
}
.search-result {
  margin-bottom: 28px;
}
.search-result a {
  display: inline-block;
  color: #1a0dab;
}
.search-result > a:hover h3 {
  text-decoration: underline;
}
.search-result a:visited {
  color: #609;
}
.cite {
  line-height: 1.3;
  color: #3C4043;
}
.caret {
  font-size: 10px;
  padding-left: 3px;
}
h3 {
  margin-top: 4px;
  font-size: 20px;
  line-height: 1.3;
}
.result-date {
  color: #70757a;
}
.result-text {
  width: 600px;
  margin-top: 3px;
  line-height: 1.57;
  color: #3C4043;
}
b {
  color: #52565A;
}

/* Pager */
tr {
  vertical-align: top;
}
.pager-td {
  padding: 0;
  text-align: center;
}
.pager-td a {
  color: #4285f4;
}
.pager-td a:hover {
  text-decoration: underline;
}
.pager {
  display: block;
  width: 28px;
}

.pager-next {
  margin-left: 53px;
}

*::-webkit-search-cancel-button {
  display: none;
}
